

.hncNew {
	background-color: #86C444 !important;
	border-radius: 5px !important;
	padding: 15px !important;
}

.hncNewish {
	background-color: #D0EDAF !important;
	border-radius: 5px !important;
	padding: 15px !important;
}